body {
    background: black url(https://media.discordapp.net/attachments/763744164252352532/986610169960091718/doc88714282_619986497-1.gif) center center/contain no-repeat;animation: jopa;
    text-shadow: 3px 5px 6px forestgreen;
    text-align: center;
}


@keyframes jopa {
    0% {
        background-position: center top;
        background-size: 100%;
    }

    100% {
        background-position: center top;
        background-size: 150%;
    }
}
